<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head"></div>
<body>
	<div class="container">
		<div th:replace="fragments/header"></div>
		<div class="contenido">
			<ol class="breadcrumb">
				<li>Principal</li>
			</ol>
			<!-- 			<h1>
				Bienvenido <span class="small" th:text="${session.usuario.usuario}"></span>
			</h1> -->

			<div class="carpeta alert alert-warning" th:each="anio : ${anioList}">
				<span class="glyphicon glyphicon-folder-close"></span> <a
					th:text="${anio.descripcion}"
					th:href="@{/aula-virtual/{id}/asignatura(id=${anio.idAnio})}"></a>
			</div>
		</div>
		<div th:replace="fragments/footer"></div>
	</div>
</body>
<div th:replace="fragments/scripts"></div>
</html>

